@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css);

:root {
    --etu1Color: lightgreen;
    --etu2Color: lightcoral;
    --etu3Color: lightblue;
    --etu4Color: lightyellow;
    --etu5Color: lightpink;
}

/* https://bootswatch.com/darkly/#top */

.mainContent {
    text-align: center;
}

.container {
    max-width: 95%;
}

h1 {
    font-size: 2em;
    color: white;
    margin:15px 0px;
}

table {
    width: max-content;
    min-width: 100%;
    border: solid 1px gray;
}


/* AFFICHAGE DU TEXTE */
.file {
    padding: 5px;
}

.tdinfo {
    text-align: right;
    font-size: 1em;
    color: white;
    padding: 30px 10px;
    width: 170px;
    background-color: #303030;
}
.tdinfofichier {
    padding: 0px 10px;
}
.tdinfogroupe {
    padding-left: 10px;
    text-align: left;
    font-style: italic;
    color: rgb(184, 184, 184);
}
.commentaire {
    display: inline;
    border: 1px solid gainsboro;
    border-radius: 5px;
    color:black;
}
.suppression {
    display: inline;
    text-decoration: line-through;
}
.text {
    font-size: 1.2em;
    padding: 5px;
}
.deletion {
    color: red;
    text-decoration: line-through;
    border: 1px solid rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    color:black;
}
.insertion {
    color: rgb(0, 185, 0);
    border: 1px solid lightgreen;
    border-radius: 5px;
    color:black;
}
.substitution {
    color: red;
    border: 1px solid transparent;
    border-radius: 5px;
    color:black;
}



/* DIVS D'ANNOTATIONS/COMMENTAIRES */
.targredit {
    display: inline-flex;
}
.divEdit {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    min-width: 100px;
    min-height: 100px;
    -webkit-transition: min-width .2s, min-height .5s;
    -moz-transition: min-width .2s, min-height .5s;
    -o-transition: min-width .2s, min-height .5s;
    transition: min-width .2s, min-height .5s;
    /* position: absolute; */
}
.divEditTitle {
    background-color: grey;
    padding: 5px;
}
.divEditDate {
    background-color: grey;
    font-size: .8em;
    font-style: italic;
    padding: 0px 5px;
}
.divEditText {
    padding: 10px;
}
.divEditFirstInsert {
    border: green solid 1px;
    border-radius: 5px;
    margin: 10px;
    font-size: .8em;
    font-style: italic;
}
.divEditId {
    font-size: .7em;
    font-style: italic;
    text-align: right;
    margin-right: 3px;
}

/* PATHS SVG */
#svgContainer { 
	z-index: -10;
	position: absolute;;
}
.path {
    stroke-width:2px;
    stroke:#fff;
    fill:none;
}


/* CONTROLES */
.control {
    display: inline-flex;
    align-self: center;
}
.control > * {
    margin: 5px;
}
.controlinfo {
    font-style: italic;
}


/* AFFICHAGE ELAN */
.tier-tmps {
    font-size: .8em;
    font-style: italic;
    color:gray;
}
.tier-jp2fr {
    font-size: .8em;
    font-style: italic;
}
.seg {
    cursor: pointer;
}
.seg:hover {
    background-color: #333333;
}
.segfocus {
    background-color: #535353;
}



/* ETUDIANTS */
.badgEtu {
    background-color:#303030;
    padding: 5px 8px;
    margin: 5px;
    font-size: 1em;
}

.etu1 {
    color: var(--etu1Color);
}
.etu2 {
    color: var(--etu2Color);
}
.etu3 {
    color: var(--etu3Color);
}
.etu4 {
    color: var(--etu4Color);
}
.etu5 {
    color: var(--etu5Color);
}


/* FOCUS (hover) */
.textfocus {
    border:1px solid transparent;
    /* padding: 5px 0px; */
    cursor:pointer;
    box-shadow: 0px 0px 3px 2px #969696;
    -webkit-box-shadow: 0px 0px 3px 2px #969696;
}
.pathfocus {
    stroke-width: 2px;
}
.divfocus {
    box-shadow: 0px 0px 3px 2px #969696;
    -webkit-box-shadow: 0px 0px 3px 2px #969696;
    cursor:pointer;
}

.divclick {
    min-width: 300px;
    min-height: 300px;
}