{% load static %}



<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Actid - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'phonographe.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    {% block styles %}{% endblock %}
    
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Actid</a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="navbar-collapse collapse" id="navbarColor01" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'etudiants' %}">Étudiants</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'groupes' %}">Groupes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'traductions' %}">Traductions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'recherche' %}">Recherche</a>
                </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li> -->
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link connected mx-2" href="{% url 'logout' %}">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link connexion" href="{% url 'logout' %}">Déconnexion</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link connexion" href="{% url 'login' %}">Connexion</a>
                </li>
                {% endif %}
                </li>
              </ul>
          </div>
        </div>
      </nav>
    

    <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}

    </div>
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock %}
</body>
    


</html>
