{% extends 'base.html' %}
{% load static %}
{% block title %}Corpus View{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/viewer.css' %}" type="text/css" />
{% endblock %}


{% block content %}

<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'traductions' %}"><button type="button" class="btn btn-outline-info">> Traductions</button></a>
        <a href="{% url 'showTraduction' traduction.id %}"><button type="button" class="btn btn-outline-info">> {{ traduction.id }}</button></a>
        <a href="{% url 'corpusViewer' traduction.id %}"><button type="button" class="btn btn-outline-info arb">> Traduction annotée</button></a>
    </div>
</div>

<script type="text/javascript">
    let xmls = "{{ xmls|escapejs }}";
    let xmli = "{{ xmli|escapejs }}";
    let xmlr = "{{ xmlr|escapejs }}";
    let xmlf = "{{ xmlf|escapejs }}";
    let xmlinfo = "{{ xmlinfo|escapejs }}";
    let etus = JSON.parse("{{ etus|escapejs }}");
</script>

<div class="mainContent">
    <h1 id="titre"></h1>

    <div id="svgContainer">
        <!-- Contiendra les paths svg -->
        <svg id="svg1" width="0" height="0" ></svg>
    </div>

    <div class="control">
        <button onclick="previous()" type="button" class="btn" title="Phrase précédente">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
            </svg>
        </button>
        <input type="number" id="pid" style="width:60px" onchange="gotoP()" title="Afficher la phrase n°">
        <button onclick="next()" type="button" class="btn" title="Phrase suivante">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
            </svg>
        </button>
        <!-- <button id="pidbtn" onclick="gotoP()" type="button" class="btn btn-success">Afficher</button> -->
        <div class="control" onclick="toggleWordWrap()">
            <input id="wordwrap" type="checkbox" checked onclick="toggleWordWrap()"> Phrase sur 1 seule ligne
        </div>
    </div>
    <div class="controlinfo">Total : <span id="ptotal"></span> phrases</div>

    <div id="outer">
        <table id="maintable">
            <tr>
                <td class="tdinfo tdinfofichier"><span class="file">Fichier :</span></td>
                <td class="tdinfogroupe"><span id="infotraduction"></span> - <span id="infoparagraphe"></span> - <span id="infophrase"></span></span></td>
            </tr>
            <tr>
                <td class="tdinfo"><span class="file">Texte source :</span></td>
                <td><span class="text" id="targs"></span></td>
            </tr>
            <tr>
                <td class="tdinfo"><span class="file">Traduction initiale :</span></td>
                <td><span class="text" id="targi"></span></td>
            </tr>
            <tr>
                <td class="tdinfo"></td>
                <td id="targreditSup" class="targredit"></td>
            </tr>
            <tr>
                <td class="tdinfo"><span class="file">Traduction révisée :</span></td>
                <td><span class="text" id="targr"></span></td>
            </tr>
            <tr>
                <td class="tdinfo"></td>
                <td id="targreditInf" class="targredit"></td>
            </tr>
            <tr>
                <td class="tdinfo"><span class="file">Traduction finale :</span></td>
                <td><span class="text" id="targf"></span></td>
            </tr>
        </table>
    </div>

    
</div>

<div class="d-flex mb-4" style="width: 100%;">

    <div class="card text-white bg-primary mt-4 mr-auto ml-auto" style="width:48%">
        <div class="card-header">Vidéo</div>
        <div class="card-body">
            <div id="videos">
                <!-- video tags ajoutés automatiquement -->
            </div>
        </div>
    </div>

    <div class="card text-white bg-primary mt-4 mr-auto ml-auto" style="width:48%">
        <div class="card-header">Discussion</div>
        <div class="card-body">
            <div class="d-flex justify-content-around">
                <div>Traducteur(s): {% for etu in traduction.traducteurs.all %}<a href="{% url 'showEtudiant' etu.id %}"><span class="badge badgEtu">{{ etu.id }}</span></a>{% endfor %}</div>
                <div>Correcteur(s): {% for etu in traduction.correcteurs.all %}<a href="{% url 'showEtudiant' etu.id %}"><span class="badge badgEtu">{{ etu.id }}</span></a>{% endfor %}</div>
            </div>
            <div id="tables">
                <!-- tables ajoutées automatiquement -->
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/svgPaths.js' %}"></script>
<script src="{% static 'js/viewer.js' %}"></script>

{% endblock %}
