{% extends 'base.html' %}

{% block title %}Suppression{% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card card-body">
            <p>Êtes-vous sûr⋅e de vouloir supprimer {{ inst.id }} ?</p>

            
            <form action="{% url 'delInstance' ClassName inst.id %}" method="POST">
                {% csrf_token %}
                <div class="d-flex justify-content-between">
                    <input class="btn btn-danger" type="submit" value="Supprimer">
                    <a href="{% url className|add:'s' %}" class="btn btn-secondary">Annuler</a>
                </div>
            </form>
        
        </div>
    </div>
</div>

{% endblock content %}