{% extends 'base.html' %}
{% block title %}Ajouter/modifier une traduction{% endblock %}

{% block content %}
<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'traductions' %}"><button type="button" class="btn btn-outline-info">> Traductions</button></a>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <h1>Ajouter/Modifier une traduction</h1>
    </div>
    <div class="col">
        <a href="{% url 'traductions' %}"><button type="button" class="btn btn-danger m-3">Annuler</button></a>
    </div>
</div>


<form action="{% if edit %}/editTraduction/{{ trd }}/{% else %}/addTraduction/{% endif %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enregistrer">
</form>
{% endblock content %}