{% extends 'base.html' %}
{% block title %}Ajouter/modifier un groupe{% endblock %}

{% block content %}
<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'groupes' %}"><button type="button" class="btn btn-outline-primary">> Groupes</button></a>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <h1>Ajouter/Modifier un groupe</h1>
    </div>
    <div class="col">
        <a href="{% url 'groupes' %}"><button type="button" class="btn btn-danger m-3">Annuler</button></a>
    </div>
</div>

<form action="/addGroupe/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enregistrer">
</form>



{% endblock content %}