{% extends 'base.html' %}
{% block title %}Étudiants{% endblock %}

{% block content %}
<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'etudiants' %}"><button type="button" class="btn btn-outline-info arb">> Etudiants</button></a>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <h1>Liste des étudiants</h1>
    </div>
    <div class="col">
        <a href="{% url 'addEtudiant' %}"><button type="button" class="btn btn-primary m-3">Ajouter un étudiant</button></a>
    </div>
</div>


<section class="groupes">

    {% for etudiant in etudiants %}

    <a href="{% url 'showEtudiant' etudiant.id %}">
        <div class="card text-white bg-primary mb-3 groupeCard">
            <div class="card-header">Etudiant {{ etudiant.id }}</div>
            <div class="card-body">
                <span class="badge badge-info">{{ etudiant.universite.id }}</span><br>
                Groupe : {{ etudiant.groupe.id }}<br>
                Traductions : {% for etuId, trdIds in etu2trds.items %}
                {% if etuId == etudiant.id %}
                    {% for trdId in trdIds %}<span class="badge badge-info m-1">{{ trdId }}</span>{% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </a>


    {% endfor %}

</section>
{% endblock content %}