{% extends 'base.html' %}
{% block title %}Groupes{% endblock %}

{% block content %}
<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'etudiants' %}"><button type="button" class="btn btn-outline-info">> Groupes</button></a>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <h1>Liste des groupes</h1>
    </div>
    <div class="col">
        <a href="{% url 'addGroupe' %}"><button type="button" class="btn btn-primary m-3">Ajouter un groupe</button></a>
    </div>
</div>


<section class="groupes">

    {% for groupe in groupes %}

    <a href="{% url 'showGroupe' groupe.id %}">
        <div class="card text-white bg-primary mb-3 groupeCard">
            <div class="card-header">Groupe {{ groupe.id }}</div>
            <div class="card-body">
                <span class="badge badge-success">{{ groupe.annee }}</span><br>
                Étudiants : {% for grpId, etuIds in grp2etus.items %}
                {% if grpId == groupe.id %}
                    {% for etuId in etuIds %}<span class="badge badge-info m-1">{{ etuId }}</span>{% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </a>


    {% endfor %}

</section>
{% endblock content %}