{% extends 'base.html' %}
{% load static %}

{% block title %}Projet ACTID{% endblock %}

{% block content %}

<div class="position-relative">

    <h1>ACTID</h1>

    <div class="position-absolute" style="top:0px;right:0px">
        <a href="http://www.tufs.ac.jp/english/"><img height="50px" src="{% static 'im/logo_tufs.png' %}"></a>
        <a href="https://lidilem.univ-grenoble-alpes.fr/"><img height="50px" src="{% static 'im/logo_LIDILEM.jpg' %}"></a>
    </div>

    <h3>Constitution d’un corpus d’apprenants et exploration de l’interculturalité à partir d’activités collaboratives de traduction réalisées à distance par des étudiants du français et du japonais</h3>
    <br>
    <h4>La constitution de corpus d’apprenants fait l’objet de nombreuses recherches, avec un intérêt croissant pour ce type de corpus qui permet d’étudier les processus interactifs et cognitifs à l’œuvre chez les apprenants dans une situation de nouvelles pratiques pédagogiques telles que la télécollaboration.</h4>

    <div style="width:100%;margin-top:50px;margin-bottom:20px;" class="d-flex justify-content-center">
        <a href="{% url 'traductions' %}"><button type="button" class="btn btn-primary btn-lg">Parcourir les traductions disponibles</button></a>
    </div>

    <br>
    <h3>Membres</h3>
    <ul>
        <li><a href="https://lidilem.univ-grenoble-alpes.fr/membre/tomoko-higashi">東伴子 Tomoko Higashi (LIDILEM, Université Grenoble Alpes)</a></li>
        <li><a href="http://www.tufs.ac.jp/research/researcher/people/akihiro_hisae.html">秋廣尚恵 Hisae Akihiro (Tokyo University of Foreign Studies)</a></li>
        <li><a href="https://ilcea4.univ-grenoble-alpes.fr/membre/cecile-frerot">Cécile Frérot (LIDILEM, Université Grenoble Alpes)</a></li>
        <li><a href="https://lidilem.univ-grenoble-alpes.fr/membre/sylvain-coulange">Sylvain Coulange (LIDILEM, Université Grenoble Alpes)</a></li>
    </ul>
    <br>
    <h3>Partenaire</h3>
    <table>
        <tbody>
            <tr>
                <td><a href="http://www.tufs.ac.jp/english/"><img src="{% static 'im/logo_tufs.png' %}" width="80px" style="margin:10px"></a></td>
                <td><a href="http://www.tufs.ac.jp/english/">Tokyo University of Foreign Studies</a></td>
            </tr>
        </tbody>
    </table>
    <br>
    <h3>Financeur</h3>
    <p>NeuroCoG & Pôle Grenoble Cognition 2020</p>
    <br>
    <h3>Description du projet</h3>
    <div style="text-align: justify;">
        <p>Cependant, il n’existe pas à l’heure actuelle de corpus d’apprenants constitués à partir des échanges à l’oral et à l’écrit entre étudiants japonais et étudiants français autour d’une tâche collaborative de traduction.</p>
        <p>La constitution d’un tel corpus est précisément l’objectif que nous visons à travers ce projet expérimental. Les échanges entre étudiants, qui constitueront le principal matériau du corpus, s’inscrivent dans le cadre d’une télécollaboration mettant en jeu une communication médiée via différents dispositifs (visioconférence, outil de communication vidéo sur ordinateur, messagerie instantanée, notamment) impliquant des étudiants spécialistes de langue française à Tokyo University of Foreign Studies et des étudiants de japonais inscrits dans le master LEA parcours Traduction spécialisée multilingue de l’UGA.</p>
        <p>La tâche collaborative entre étudiants français et japonais, répartis en équipe (binôme) portera sur la traduction de textes à dominante socio-culturelle et impliquera différentes étapes, notamment la révision. Cette étape de révision, prise en charge par l’étudiant locuteur natif, donnera lieu à des échanges argumentés sur les choix de traduction portant aussi bien sur des aspects linguistiques et rhétoriques qu’interculturels.</p>
        <p>L’ensemble de ces échanges fera l’objet d’un recueil et d’un traitement de données en vue d’une analyse multidimensionnelle. Cette phase de recueil et de traitement comprendra : transcription écrite à partir de l’oral, pour le français et pour le japonais, traductions, alignement de l’enregistrement à la transcription, mise en forme des échanges et des productions écrites des étudiants. Le corpus constitué comprendra ainsi plusieurs sous-corpus combinant données écrites et transcriptions écrites de données orales : interactions verbales collectives (impliquant l’ensemble des étudiants), interactions verbales au sein de chaque équipe et productions des étudiants (allant du premier texte cible produit, en passant par les différentes révisions jusqu’à la traduction finale).</p>
        <p>Cette multidimensionnalité s’exercera à travers la traduction, activité à la fois intensive, complexe et très outillée, et les analyses que nous mènerons, qui porteront sur les aspects cognitifs liés au processus de traduction et sur les aspects organisationnels liés au travail en équipe (dimension ergonomique appliquée à la traduction). La multidimensionnalité s’ancrera également dans un cadre linguistique à visée didactique : nous étudierons notamment les caractéristiques de l’interaction exolingue français-japonais lors d’une activité collaborative. Dans ce contexte, l’enjeu en termes d’interculturalité est d’autant plus important que nous sommes en présence de langues distantes.</p>
        <p>Le corpus constitué dans le cadre de ce projet pourra bénéficier aux différentes communautés de chercheurs en linguistique, didactique et traductologie, notamment, et nous mettrons ce corpus à la disposition des chercheurs.</p>
    </div>

</div>


{% endblock content %}
