{% extends 'base.html' %}
{% load static %}

{% block title %}Recherche{% endblock %}

{% block content %}

<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'recherche' %}"><button type="button" class="btn btn-outline-info arb">> Recherche</button></a>
    </div>
</div>

<h1>Recherche</h1>

<div class="position-relative" style="width: 100%;">
    <div class="card text-white bg-primary mt-4 mr-auto ml-auto" style="max-width: 40rem;">
        <div class="card-header"><i class="bi-info-circle"></i> Réflexion</div>
        <div class="card-body">
            <p>Ici nous pourrions envisager une barre de recherche pour afficher toutes les phrases contenant une certaine catégorie d'erreur, un mot erroné ou corrigé d'une certaine nature... etc.</p>
            <p>La recherche pourrait se faire à l'intérieur d'une traduction, mais surtout à travers toute la base de données.</p>
        </div>
    </div>
</div>


{% endblock content %}