{% extends 'base.html' %}
{% block title %}Groupe {{ groupe.id }}{% endblock %}

{% block content %}

<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'groupes' %}"><button type="button" class="btn btn-outline-info">> Groupes</button></a>
        <a href="{% url 'showGroupe' groupe.id %}"><button type="button" class="btn btn-outline-info arb">> {{ groupe.id }}</button></a>
    </div>
</div>

<h1>Groupe {{ groupe.id }}</h1>

<div class="container mt-5">
    <div class="row">
      <div class="col"></div>
      <div class="col-6 position-relative">
        
        <div class="position-absolute" style="right:15px;top:-60px">
            <a href="{% url 'editGroupe' groupe.id %}"><button type="button" class="btn btn-primary my-3">Éditer les informations</button></a>
            <a href="{% url 'delInstancePage' 'Groupe' groupe.id %}"><button type="button" class="btn btn-danger my-3">Supprimer le groupe</button></a>
        </div>

        <table class="table">
            <tbody>
                <tr class="table-secondary">
                    <th scope="row">Identifiant</th>
                    <td>{{ groupe.id }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Année</th>
                    <td>{{ groupe.annee }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Étudiants</th>
                    <td>{% for etu in etudiants %}<a href="{% url 'showEtudiant' etu.id %}"><button class="btn btn-info mx-2">{{ etu.id }}</button></a>{% endfor %}</td>
                </tr>

            </tbody>
        </table>

        <div class="d-flex flex-row-reverse">
            <a href="{% url 'groupes' %}"><button type="button" class="btn btn-secondary my-3">Retour</button></a>
        </div>
      </div>
      <div class="col"></div>
    </div>
</div>

<h3>Traductions disponibles pour {{ groupe.id }}</h3>
<div class="d-flex">
{% for traduction in traductions %}
    <a href="{% url 'showTraduction' traduction.id %}">
        <div class="card text-white bg-primary mb-3 groupeCard">
            <div class="card-header d-flex justify-content-between">
                <div>Traduction {{ traduction.id }}</div>
                <div>{{ traduction.groupe.id }}</div>
            </div>
            <div class="card-body">
                <span class="badge badge-info">Titre original :</span>
                <p>{{ traduction.titre1 }}</p>

                {% for etu in traduction.traducteurs.all %}<span class="badge badge-light">{{ etu.id }}</span>{% endfor %}
                {% for etu in traduction.correcteurs.all %}<span class="badge badge-light">{{ etu.id }}</span>{% endfor %}
            </div>
        </div>
    </a>
    {% endfor %}
</div>


{% endblock content %}