{% extends 'base.html' %}
{% block title %}Etudiant {{ etudiant.id }}{% endblock %}

{% block content %}

<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'etudiants' %}"><button type="button" class="btn btn-outline-info">> Etudiants</button></a>
        <a href="{% url 'showEtudiant' etudiant.id %}"><button type="button" class="btn btn-outline-info arb">> {{ etudiant.id }}</button></a>
    </div>
</div>

<h1>Étudiant {{ etudiant.id }}</h1>

<div class="container mt-5">
    <div class="row">
      <div class="col"></div>
      <div class="col-6 position-relative">
        
        <div class="position-absolute" style="right:15px;top:-60px">
            <a href="{% url 'editEtudiant' etudiant.id %}"><button type="button" class="btn btn-primary my-3">Éditer les informations</button></a>
            <a href="{% url 'delInstancePage' 'Etudiant' etudiant.id %}"><button type="button" class="btn btn-danger my-3">Supprimer l'étudiant</button></a>
        </div>

        <table class="table">
            <tbody>
                <tr class="table-secondary">
                    <th scope="row">Identifiant</th>
                    <td>{{ etudiant.id }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Langue maternelle</th>
                    <td>{{ etudiant.langueMaternelle }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Université</th>
                    <td>{{ etudiant.universite.nom }} ({{ etudiant.universite.id }})</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Sexe</th>
                    <td>{{ etudiant.sexe }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Groupe</th>
                    <td>{{ etudiant.groupe.id }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Traductions</th>
                    <td>{% for trdId in traductions %}<a href="{% url 'showTraduction' trdId %}"><button class="btn btn-info mx-2">{{ trdId }}</button></a>{% endfor %}</td>
                </tr>

            </tbody>
        </table>

        <div class="d-flex flex-row-reverse">
            <a href="{% url 'etudiants' %}"><button type="button" class="btn btn-secondary my-3">Retour</button></a>
        </div>
      </div>
      <div class="col"></div>
    </div>
</div>



{% endblock content %}