{% extends 'base.html' %}
{% load static %}

{% block title %}Traduction {{ traduction.id }}{% endblock %}

{% block content %}

<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'traductions' %}"><button type="button" class="btn btn-outline-info">> Traductions</button></a>
        <a href="{% url 'showTraduction' traduction.id %}"><button type="button" class="btn btn-outline-info arb">> {{ traduction.id }}</button></a>
    </div>
</div>

<h1>Traduction {{ traduction.id }}</h1>

<div class="container mt-5">
    <div class="row">
      <div class="col"></div>
      <div class="col-6 position-relative">
        
        <div class="position-absolute" style="right:15px;top:-60px">
            <a href="{% url 'editTraduction' traduction.id %}"><button type="button" class="btn btn-primary my-3">Éditer les informations</button></a>
            <a href="{% url 'delInstancePage' 'Traduction' traduction.id %}"><button type="button" class="btn btn-danger my-3">Supprimer la traduction</button></a>
        </div>

        <table class="table">
            <tbody>
                <tr class="table-secondary">
                    <th scope="row">Identifiant</th>
                    <td>{{ traduction.id }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Date de création</th>
                    <td>{{ traduction.dateCreation }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Date de modification</th>
                    <td>{{ traduction.dateModification }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Langue</th>
                    <td>{{ traduction.langueSource.langue }} → {{ traduction.langueCible.langue }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Groupe</th>
                    <td>{{ traduction.groupe.id }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Titre original</th>
                    <td>{{ traduction.titre1 }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Titre traduit</th>
                    <td>{{ traduction.titre2 }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Auteur</th>
                    <td>{{ traduction.auteur }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Date de publication</th>
                    <td>{{ traduction.datePubli }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Source</th>
                    <td><a href="{{ traduction.source }}">{{ traduction.source }}</a></td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Étudiant(s) traducteur(s)</th>
                    <td>{% for etu in traduction.traducteurs.all %}<a href="{% url 'showEtudiant' etu.id %}"><button class="btn btn-info mx-2">{{ etu.id }}</button></a>{% endfor %}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Étudiant(s) correcteur(s)</th>
                    <td>{% for etu in traduction.correcteurs.all %}<a href="{% url 'showEtudiant' etu.id %}"><button class="btn btn-info mx-2">{{ etu.id }}</button>{% endfor %}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex flex-row-reverse">
            <a href="{% url 'traductions' %}"><button type="button" class="btn btn-secondary my-3">Retour</button></a>
        </div>
      </div>
      <div class="col"></div>
    </div>
</div>

<h3>Interface de visualisation</h3>
<section class="groupes">
    <a href="{% url 'corpusViewer' traduction.id %}" class="noref">
    <div class="card border-secondary mb-3 groupeCard" style="width: 20rem;">
        <div class="card-header">Traduction annotée</div>
        <div class="card-body">
        <img src="{% static 'im/imAnnotationsFlou.png' %}" width="100%">
        </div>
    </div>
    </a>
</section>

<h3>Fichiers disponibles</h3>

{% for fileCat in fileCats %}
<section class="groupes">
    <a href="/static/corpus/traductions/{{ traduction.id }}_{{ fileCat }}.xml" class="noref">
        <div class="card border-secondary mb-3 groupeCard" style="width: 20rem;">
            <div class="card-header">Document source</div>
            <div class="card-body">
                <h4 class="card-title">Texte {{ fileCat }}</h4>
            </div>
        </div>
    </a>
</section>
{% endfor %}



{% endblock content %}