{% extends 'base.html' %}
{% block title %}Traductions{% endblock %}

{% block content %}
<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'traductions' %}"><button type="button" class="btn btn-outline-info arb">> Traductions</button></a>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <h1>Liste des traductions</h1>
    </div>
    <div class="col">
        <a href="{% url 'addTraduction' %}"><button type="button" class="btn btn-primary m-3">Ajouter une traduction</button></a>
    </div>
</div>




<h3>Français → japonais</h3>
<section class="groupes">

    {% for traduction in traductions %}
    {% if traduction.langueSource.langue == 'français' %}

    <a href="{% url 'showTraduction' traduction.id %}">
        <div class="card text-white bg-primary mb-3 groupeCard">
            <div class="card-header d-flex justify-content-between">
                <div>Traduction {{ traduction.id }}</div>
                <div>{{ traduction.groupe.id }}</div>
            </div>
            <div class="card-body">
                <span class="badge badge-info">Titre original :</span>
                <p>{{ traduction.titre1 }}</p>
                
                {% for etu in traduction.traducteurs.all %}<span class="badge badge-light">{{ etu.id }}</span>{% endfor %}
                {% for etu in traduction.correcteurs.all %}<span class="badge badge-light">{{ etu.id }}</span>{% endfor %}
            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}

</section>

<hr>

<h3>Japonais → français</h3>
<section class="groupes">

    {% for traduction in traductions %}
    {% if traduction.langueSource.langue == 'japonais' %}
    <a href="{% url 'showTraduction' traduction.id %}">
        <div class="card text-white bg-primary mb-3 groupeCard">
            <div class="card-header d-flex justify-content-between">
                <div>Traduction {{ traduction.id }}</div>
                <div>{{ traduction.groupe.id }}</div>
            </div>
            <div class="card-body">
                <span class="badge badge-info">Titre original :</span>
                <p>{{ traduction.titre1 }}</p>

                {% for etu in traduction.traducteurs.all %}<span class="badge badge-light">{{ etu.id }}</span>{% endfor %}
                {% for etu in traduction.correcteurs.all %}<span class="badge badge-light">{{ etu.id }}</span>{% endfor %}
            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}

</section>
{% endblock content %}