{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Connexion{% endblock %}

{% block content %}

<div class="card text-white bg-secondary p-1" style="max-width: 25rem; margin: auto; margin-top: 40px;">
    <div class="card-header">Se connecter</div>
    <div class="card-body" style="margin:auto">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-4">
                <center><button class="btn btn-primary" type="submit">Connexion</button></center>
            </div>
        </form>
    </div>

</div>


{% endblock content %}